@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overscroll-behavior-y: none !important;
}

.scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}
